@model FinanceManagement.Models.FixoParcelado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FixoParcelado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FixoId" class="control-label"></label>
                <select asp-for="FixoId" class ="form-control" asp-items="ViewBag.FixoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ParceladoId" class="control-label"></label>
                <select asp-for="ParceladoId" class ="form-control" asp-items="ViewBag.ParceladoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
