/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a{
    color: green;
}

a:hover{
    color: green;
}

.nav-pills .nav-link.active {
    background-color: green !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .section-menu {
        width: 100% !important;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.navbar {
    background-color: green !important;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.section-menu {
    width: 40%;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(51 204 51 / 35%) !important;
    border-color: green;
}
